* {
	box-sizing: border-box;
}

:root {
	--fore: #000;
	--back: #f8f8fa;
}

body {
	font-size: 1.2em;
	margin: 0;
	height: 100%;
	background: var(--back);
}

#content-box,
footer {
	display: block;
	max-width: 30em;
	border-radius: 0em;
	margin: 0 auto;
	text-align: center;
	padding: 2em;
	color: var(--fore);
	border: 1px solid var(--fore);
}

footer {
	padding: 0em;
}





#block_stuff {
	text-align: left;
	margin-block-start: 2em;
	margin-block-end: .75em;
}




#bio {
	text-align: center;
	font-size: 110%;
	line-height: 140%;
}

ul {
	margin-block-start: unset;
	margin-block-end: unset;
	text-align: left;
	padding-inline-start: unset;
	columns: 10em;
}

li {
	line-height: 150%;
	text-align: justify;
	display: inline;
	text-transform: lowercase;
}


a:link,
a:visited {
	color: #000;
	text-decoration-color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

a:hover,
a:active {
	color: #000;
	text-decoration-color: #000;
	text-decoration: none;
	border-bottom: 2px solid #000;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	margin: 1.5em 0;
}

@media (max-width: 500px) {
	body {
		font-size: 1em;
		padding: 1em;
	}

	main {
		padding: 1.5em;
	}
}


footer {
	margin-top: 1em;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding-inline: 2em;
}

.invert-cap {
	display: inline-flex;
	background-color: var(--fore);
	color: var(--back);
	padding: 2px;
}


