#title {
	font-family: SFpro;
	font-variation-settings: "wdth" 150;

}


/* interactive pronouns */

#pronouns {
	color: #666;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}
#pronouns p {
	margin: 0 1ch;
	display: inline-block; 
}

#select:hover {
	background-color: #B1D4FD;
}

#pride {
	cursor: default;
}
#pride:hover {
  background: linear-gradient(to right, 
  rgb(255, 242, 0),
  rgb(132, 0, 255) , 
  rgb(255, 242, 0)
  );
  background-size: 600%;
  animation: rainbowCycle 1s linear infinite;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes rainbowCycle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
	background-position: 100% 50%;
  }
}

#rotate {
	text-align: left;
	margin-right: 0 !important;
	width: 5.5ch;
}

#rotate::after {
	content: "utc-6";
}
#rotate:hover::after {
	animation: count 1s linear infinite;
}

@keyframes count  {
	0% { content: "utc-6"; }
	4.16% { content: "utc-5"; } 
	8.33% { content: "utc-4"; }
	12.5% { content: "utc-3"; }
	16.66% { content: "utc-2"; }
	20.83% { content: "utc-1"; }
	25% { content: "utc+0"; }
	29.16% { content: "utc+1"; }
	33.33% { content: "utc+2"; }
	37.5% { content: "utc+3"; }
	41.66% { content: "utc+4"; }
	45.83% { content: "utc+5"; }
	50% { content: "utc+6"; }
	54.16% { content: "utc+7"; }
	58.33% { content: "utc+8"; }
	62.5% { content: "utc+9"; }
	66.66% { content: "utc+10"; } 
	70.83% { content: "utc+11"; }
	75% { content: "utc+12"; }
	79.16% { content: "utc-12"; }
	83.33% { content: "utc-11"; }
	87.5% { content: "utc-10"; }
	91.66% { content: "utc-9"; }
	95.83% { content: "utc-8"; }
	100% { content: "utc-7"; }
  }


/* link columns */

.link-out h4 {
	opacity: .3;
}

ul {
	margin-block-start: unset;
	margin-block-end: unset;
	text-align: left;
	padding-inline-start: unset;
	columns: 10em;
}

li {
	line-height: 150%;
	text-align: justify;
	display: inline-flex;
	text-transform: lowercase;
}


/* theme embeds */
#block_embed iframe {
	border: 1px solid #000 !important;
	border-radius: 0em;
}


/* desktop */

.reveal:hover span {
	opacity: 0.3;
}

.reveal span {
	font-size: small;
	opacity: 0;
	transition: 0.3s;
}


/* photo stream */

.photo-stream {
	background-color: unset;
	overflow: auto;
	white-space: nowrap;
	padding: 0em;
	margin-bottom: 1em;
}

.photo-stream img {
	padding: 0em;
	object-fit: cover;
	height: 20em;
	width: 15em;
}

.photo-stream::-webkit-scrollbar {
	-webkit-appearance: none;
}

.photo-stream::-webkit-scrollbar:vertical {
	width: 11px;
}

.photo-stream::-webkit-scrollbar:horizontal {
	height: 11px;
}

.photo-stream::-webkit-scrollbar-thumb {
	border-radius: 0px;
	border: 2px;
	/* should match background, can't be transparent */
	background-color: rgb(0, 0, 0);
}

